<h2 class="ui center aligned icon header">
    <i class="circular star icon" style="color: gold"></i>
    Gold Plated
</h2>

<!--TODO - Update CSS so it's generic-->
<div class="ui basic segment">
    <h2>Plate Gold: Coming soon!</h2>
    <p>At the moment, using Plate is <b>free</b>! Plate Gold will be a paid version that offers tons of awesome features.</p>
    <p><b>We would love your input </b> on features you would like to see. <a style="cursor: pointer" (click)="sendFeedbackClicked()">Click here to send us a quick message.</a></p>
</div>
