$plate-primary-color: #0066CC;
$plate-primary-dark-color: #0050A0;
$plate-primary-dark-color-lighter: #0153A5;
$plate-secondary-dark-color: #004c96;
$plate-primary-light-color: #8FB0D2;
$font: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
