{% extends 'outside-layout.html' %} {% block content %}

<!-- Page Contents -->
<div class="ui masthead legal center aligned vertical segment">
    <div class="ui container">
        <div class="introduction">
            <h2 class="ui header">
                Plate Privacy Policy
                <div class="sub header">
                    This privacy policy was last revised on August 26th, 2016.
                </div>
            </h2>
        </div>
    </div>
</div>
<div class="ui vertical legal stripe segment">
    <div class="ui text container segment">

        <h3 class="ui header">The Gist</h3>
        <p>This privacy notice discloses the privacy practices for www.plate.work. This site is owned and operated by Plate
            Work, Inc ("Plate"). We care about your privacy regarding any information we may collect while operating this
            web site. Please note: this privacy policy is available under a Creative Commons Sharealike license, originally
            created by the classy people at Automattic.</p>

        <h3 class="ui header">Questions</h3>
        <p>If you have any questions about this privacy policy, please contact us at hello@plate.work.</p>

        <h3 class="ui headear">Visitors</h3>
        <p>Like most website operators, Plate collects non-personally-identifying information of the sort that web browsers and
            servers typically make available, such as the browser type, language preference, referring site, and the date
            and time of each visitor request. Plate’s purpose in collecting non-personally identifying information is to better
            understand how Plate’s visitors use its website. From time to time, Plate may release non-personally-identifying
            information in the aggregate, e.g., by publishing a report on trends in the usage of its website.</p>
        <p>Plate also collects potentially personally-identifying information like Internet Protocol (IP) addresses. Plate does
            not use such information to identify its visitors, however, and does not disclose such information, other than
            under the same circumstances that it uses and discloses personally-identifying information, as described below.
            We may also collect and use IP addresses to block users who violate our Terms of Service.
        </p>

        <h3 class="ui header">Gathering of Personally-Identifying Information</h3>
        <p>Certain visitors to www.plate.work choose to interact with Plate in ways that require Plate to gather personally-identifying
            information. The amount and type of information that Plate gathers depends on the nature of the interaction. For
            example, we ask visitors who sign up for a account at www.plate.work to provide a name and email address. Those
            who engage in transactions with Plate - by purchasing access to a paid service, for example - are asked to provide
            additional information, including as necessary the personal and financial information required to process those
            transactions. In each case, Plate collects such information only insofar as is necessary or appropriate to fulfill
            the purpose of the visitor's interaction with Plate. Plate does not disclose personally-identifying information other
            than as described below. And visitors can always refuse to supply personally-identifying information, with the
            caveat that it may prevent them from engaging in certain website-related activities.</p>

        <h3 class="ui header">Aggregated Statistics</h3>
        <p>Plate may collect statistics about the behavior of visitors to its websites. Plate may display this information publicly
            or provide it to others. However, Plate does not disclose personally-identifying information other than as described
            below.
        </p>

        <h3 class="ui header">Protection of Certain Personally-Identifying Information</h3>
        <p>Plate discloses potentially personally-identifying and personally-identifying information only to those of its employees,
            contractors and affiliated organizations that (i) need to know that information in order to process it on Plate’s
            behalf or to provide services available at www.plate.work, and (ii) that have agreed not to disclose it to others.
            Some of those employees, contractors and affiliated organizations may be located outside of your home country;
            by using www.plate.work, you consent to the transfer of such information to them. Plate will not rent or sell potentially
            personally-identifying and personally-identifying information to anyone. Other than to its employees, contractors
            and affiliated organizations, as described above, Plate discloses potentially personally-identifying and personally-identifying
            information only in response to a subpoena, court order or other governmental request, or when Plate believes in
            good faith that disclosure is reasonably necessary to protect the property or rights of Plate, third parties or
            the public at large. If you are a registered user of www.plate.work and have supplied your email address, Plate
            may occasionally send you an email to tell you about new features, solicit your feedback, or just keep you up
            to date with what's going on with Plate and our products. If you send us a request (for example via a support email
            or via one of our feedback mechanisms), we reserve the right to publish it in order to help us clarify or respond
            to your request or to help us support other users. Plate takes all measures reasonably necessary to protect against
            the unauthorized access, use, alteration or destruction of potentially personally-identifying and personally-identifying
            information.
        </p>

        <h3 class="ui header">Cookies</h3>
        <p>A cookie is a string of information that a website stores on a visitor's computer, and that the visitor's browser
            provides to the website each time the visitor returns. Plate uses cookies to help Plate identify and track visitors,
            their usage of develohero.com and their website access preferences. Plate visitors who do not wish to have cookies
            placed on their computers should set their browsers to refuse cookies before using www.plate.work with the drawback
            that certain features of www.plate.work may not function properly without the aid of cookies.</p>

        <h3 class="ui header">Business Transfers</h3>
        <p>If Plate, or substantially all of its assets were acquired, or in the unlikely event that Plate goes out of business
            or enters bankruptcy, user information would be one of the assets that is transferred or acquired by a third
            party. You acknowledge that such transfers may occur, and that any acquirer of Plate may continue to use your personal
            information as set forth in this policy.</p>

        <h3 class="ui header">Third-party Content</h3>
        <p>Third-party content appearing on any of our websites may be delivered to users by partners, who may set cookies.
            These cookies allow the partner to recognize your computer each time you interact with the content to compile
            information about you or others who use your computer. This Privacy Policy covers the use of cookies by Plate and
            does not cover the use of cookies by any partners.
        </p>

        <h3 class="ui header">Privacy Policy Changes</h3>
        <p>Although most changes are likely to be minor, Plate may change its Privacy Policy from time to time, and in Plate’s sole
            discretion. Plate encourages visitors to frequently check this page for any changes to its Privacy Policy. Your
            continued use of this site after any change in this Privacy Policy will constitute your acceptance of such change.</p>
    </div>
</div>
{% endblock %}