{% extends 'outside-layout.html' %} {% block content %}

<!-- Page Contents -->
<div class="ui masthead outside-page center aligned vertical segment">
    <div class="ui container">
        <div class="introduction">
            <h1 class="ui header">
                The Plate Guide
                <div class="sub header">
                    Everything you need to know about Plate.
                </div>
            </h1>
        </div>
    </div>
</div>
<div class="ui vertical outside-page stripe segment">
    <div class="ui text container segment">

        <h3 class="ui header">Come back soon! We're putting this page together.</h3>
        <p>This is where you'll find tips and tricks about Plate.</p>
    </div>
</div>
{% endblock %}