{% extends 'outside-layout.html' %} {% block content %}

<!-- Page Contents -->
<div class="ui masthead outside-page center aligned vertical segment">
    <div class="ui container">
        <div class="introduction">
            <h1 class="ui header">
                Plate Updates
                <div class="sub header">
                    We make Plate better daily with new features, enhancements, bug fixes, and integrations. You can follow our journey here.
                </div>
            </h1>
        </div>
    </div>
</div>
<div class="ui vertical outside-page stripe segment">
    <div class="ui text container segment">
        <h3 class="ui header">October 14, 2016</h3>
        <div class="ui relaxed divided list">
            <div class="item">
                <i class="large suitcase middle aligned icon"></i>
                <div class="content">
                    <div class="header">Introducing Plate for Business!</div>
                    <div class="description">Plate for Business is the best way for teams with 5+ members to work together.</div>
                </div>
            </div>
        </div>
        <h3 class="ui header">October 11, 2016</h3>
        <div class="ui relaxed divided list">
            <div class="item">
                <i class="large idea middle aligned icon"></i>
                <div class="content">
                    <div class="header">Introducing Custom Team Permissions!</div>
                    <div class="description">Teams leads can now manage fine-grain permissions for teammates, Platters, Plates, and Items.</div>
                </div>
            </div>
        </div>
        <h3 class="ui header">October 6, 2016</h3>
        <div class="ui relaxed divided list">
            <div class="item">
                <i class="large idea middle aligned icon"></i>
                <div class="content">
                    <div class="header">Introducing Workflow Automation!</div>
                    <div class="description">Automate task creation based on email rules.</div>
                </div>
            </div>
            <div class="item">
                <i class="large idea middle aligned icon"></i>
                <div class="content">
                    <div class="header">Gmail notifications</div>
                    <div class="description">Get notified when new emails arrive.</div>
                </div>
            </div>
            <div class="item">
                <i class="large idea middle aligned icon"></i>
                <div class="content">
                    <div class="header">Introducing Power Search!</div>
                    <div class="description">Highlight any text in Plate and do a deep search across all your connected apps and Plate items.</div>
                </div>
            </div>
            <div class="item">
                <i class="large lightning middle aligned icon"></i>
                <div class="content">
                    <div class="header">Updated homepage</div>
                    <div class="description">Added gradient masthead and more screenshots of Plate.</div>
                </div>
            </div>
        </div>
        <h3 class="ui header">October 4, 2016</h3>
        <div class="ui relaxed divided list">
            <div class="item">
                <i class="large lightning middle aligned icon"></i>
                <div class="content">
                    <div class="header">Improved Gmail search</div>
                    <div class="description">Search results for Gmail are more robust.</div>
                </div>
            </div>
        </div>
        <h3 class="ui header">October 3, 2016</h3>
        <div class="ui relaxed divided list">
            <div class="item">
                <i class="large idea middle aligned icon"></i>
                <div class="content">
                    <div class="header">Live Gmail refresh</div>
                    <div class="description">New emails show up in Plate as soon as you get them.</div>
                </div>
            </div>
        </div>
        <h3 class="ui header">October 2, 2016</h3>
        <div class="ui relaxed divided list">
            <div class="item">
                <i class="large idea middle aligned icon"></i>
                <div class="content">
                    <div class="header">Multiple email accounts</div>
                    <div class="description">You can add up to three emails associated with your Plate login.</div>
                </div>
            </div>
        </div>
        <h3 class="ui header">September 29, 2016</h3>
        <div class="ui relaxed divided list">
            <div class="item">
                <i class="large idea middle aligned icon"></i>
                <div class="content">
                    <div class="header">Introducing docked native Plates!</div>
                    <div class="description">Plates can now be docked along the bottom of your screen for easy access.</div>
                </div>
            </div>
            <div class="item">
                <i class="large idea middle aligned icon"></i>
                <div class="content">
                    <div class="header">Docked Connected Apps</div>
                    <div class="description">Gmail and Slack can be docked also! Docked Plates are bigger, making Gmail and Slack easier to use.</div>
                </div>
            </div>
            <div class="item">
                <i class="large lightning middle aligned icon"></i>
                <div class="content">
                    <div class="header">Sidebar enhancements</div>
                    <div class="description">Plates on the sidebar are now grouped by teams.</div>
                </div>
            </div>
        </div>
        <h3 class="ui header">September 28, 2016</h3>
        <div class="ui relaxed divided list">
            <div class="item">
                <i class="large idea middle aligned icon"></i>
                <div class="content">
                    <div class="header">Feedback notifications</div>
                    <div class="description">You get an email confirming your feedback submission.</div>
                </div>
            </div>
        </div>
        <h3 class="ui header">September 27, 2016</h3>
        <div class="ui relaxed divided list">
            <div class="item">
                <i class="large bug middle aligned icon"></i>
                <div class="content">
                    <div class="header">Fix Firefox scrolling bugs</div>
                    <div class="description">Update CSS for Firefox specs.</div>
                </div>
            </div>
        </div>
        <h3 class="ui header">September 26, 2016</h3>
        <div class="ui relaxed divided list">
            <div class="item">
                <i class="large idea middle aligned icon"></i>
                <div class="content">
                    <div class="header">Introducing File Attachments!</div>
                    <div class="description">You can now attach files to items using drag-and-drop or the file-upload form.</div>
                </div>
            </div>
        </div>
        <h3 class="ui header">September 22, 2016</h3>
        <div class="ui relaxed divided list">
            <div class="item">
                <i class="large lightning middle aligned icon"></i>
                <div class="content">
                    <div class="header">Performance enhancement</div>
                    <div class="description">Removed constant array checking of open Plates.</div>
                </div>
            </div>
            <div class="item">
                <i class="large idea middle aligned icon"></i>
                <div class="content">
                    <div class="header">Upgrade to Angular 2.0.0</div>
                    <div class="description">Angular 2 is out of beta!</div>
                </div>
            </div>
        </div>
        <h3 class="ui header">September 20, 2016</h3>
        <div class="ui relaxed divided list">
            <div class="item">
                <i class="large idea middle aligned icon"></i>
                <div class="content">
                    <div class="header">Assign Users to Items</div>
                    <div class="description">Assign your teammates to a task or goal.</div>
                </div>
            </div>
            <div class="item">
                <i class="large idea middle aligned icon"></i>
                <div class="content">
                    <div class="header">Improved search</div>
                    <div class="description">Search results are grouped by type.</div>
                </div>
            </div>
        </div>

        <h3 class="ui header">September 16, 2016</h3>
        <div class="ui relaxed divided list">
            <div class="item">
                <i class="large heartbeat middle aligned icon"></i>
                <div class="content">
                    <div class="header">Introducing Activity Feed!</div>
                    <div class="description">Stay up to date with all the goings on with your team. Look out for the heartbeat icon in Plate. Indicators
                        appear on Platters, Plates, and Items when updates have been made.</div>
                </div>
            </div>
            <div class="item">
                <i class="large idea middle aligned icon"></i>
                <div class="content">
                    <div class="header">Introducing Filters!</div>
                    <div class="description">Quickly and easily filter your tasks by Priority, Impact, and Effort.</div>
                </div>
            </div>
            <div class="item">
                <i class="large idea middle aligned icon"></i>
                <div class="content">
                    <div class="header">Custom Headers</div>
                    <div class="description">Need more than just Goals and Tasks? Now you can create/rename the Headers to suit your team needs.</div>
                </div>
            </div>
            <div class="item">
                <i class="large idea middle aligned icon"></i>
                <div class="content">
                    <div class="header">Sockets are back!</div>
                    <div class="description">Changes in Plate show up in real time for all team members.</div>
                </div>
            </div>
            <div class="item">
                <i class="large idea middle aligned icon"></i>
                <div class="content">
                    <div class="header">Better Notifications</div>
                    <div class="description">Get notified in Plate 24 hours and 30 minutes before a due date.</div>
                </div>
            </div>
            <div class="item">
                <i class="large lightning middle aligned icon"></i>
                <div class="content">
                    <div class="header">UX Enhancements</div>
                    <div class="description">
                        <ul>
                            <li>Quick Add option for adding multiple items quickly.</li>
                            <li>Add items to the bottom of a Plate.</li>
                            <li>Improve drag and drop.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="item">
                <i class="large lightning middle aligned icon"></i>
                <div class="content">
                    <div class="header">UI Enhancements</div>
                    <div class="description">
                        <ul>
                            <li>Moved user icon to left in sidebar.</li>
                            <li>Sidebar CSS changes.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="item">
                <i class="large bug middle aligned icon"></i>
                <div class="content">
                    <div class="header">Fix renaming Platter</div>
                    <div class="description">Handle what happens if a Platter does not belong to a team.</div>
                </div>
            </div>
        </div>
        <h3 class="ui header">September 9, 2016</h3>
        <div class="ui relaxed divided list">
            <div class="item">
                <i class="large idea middle aligned icon"></i>
                <div class="content">
                    <div class="header">Introducing Platters! Organize your Plates into Platters</div>
                    <div class="description">A Platter is a group of Plates belonging to you or a team.</div>
                </div>
            </div>
            <div class="item">
                <i class="large idea middle aligned icon"></i>
                <div class="content">
                    <div class="header">Plate Item Metrics</div>
                    <div class="description">Assign Priority, Impact, and Effort to your tasks and goals.</div>
                </div>
            </div>
            <div class="item">
                <i class="large idea middle aligned icon"></i>
                <div class="content">
                    <div class="header">Updated Sidebar</div>
                    <div class="description">Sleeker interface and updated CSS.</div>
                </div>
            </div>
            <div class="item">
                <i class="large bug middle aligned icon"></i>
                <div class="content">
                    <div class="header">Fix Input Max Length</div>
                    <div class="description">Input fields now have a max length to avoid overflow.</div>
                </div>
            </div>
            <div class="item">
                <i class="large bug middle aligned icon"></i>
                <div class="content">
                    <div class="header">Fix Team Invitation</div>
                    <div class="description">Users can sign up using invitation link from email.</div>
                </div>
            </div>
        </div>
        <h3 class="ui header">September 1, 2016</h3>
        <div class="ui relaxed divided list">
            <div class="item">
                <i class="large angle right middle aligned icon"></i>
                <div class="content">
                    <div class="header">Plate Early Access released</div>
                    <div class="description">The story begins here.</div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}