<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <base href="/" />

    <title>{{ initialTitle }}</title>
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/shared/assets/images/fav/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/shared/assets/images/fav/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/shared/assets/images/fav/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/shared/assets/images/fav/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="/shared/assets/images/fav/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/shared/assets/images/fav/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/shared/assets/images/fav/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/shared/assets/images/fav/apple-touch-icon-152x152.png" />
    <link rel="shortcut icon" type="image/png" href="/shared/assets/images/fav/favicon-196x196.png" sizes="196x196" />
    <link rel="shortcut icon" type="image/png" href="/shared/assets/images/fav/favicon-96x96.png" sizes="96x96" />
    <link rel="shortcut icon" type="image/png" href="/shared/assets/images/fav/favicon-32x32.png" sizes="32x32" />
    <link rel="shortcut icon" type="image/png" href="/shared/assets/images/fav/favicon-16x16.png" sizes="16x16" />
    <link rel="shortcut icon" type="image/png" href="/shared/assets/images/fav/favicon-128.png" sizes="128x128" />
    <meta name="application-name" content="&nbsp;" />
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="/shared/assets/images/fav/mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="/shared/assets/images/fav/mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="/shared/assets/images/fav/mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="/shared/assets/images/fav/mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="/shared/assets/images/fav/mstile-310x310.png" />

    <!-- build:outside-ga -->
    <!-- endbuild -->

    <script>
        if (localStorage.getItem('id_token')) {
            window.location.replace('/p');
        }
    </script> {% if inviterName.length %}
    <script>
        window.inviteDetails = {
            inviterName: '{{inviterName}}',
            teamName: '{{teamName}}',
            inviteeEmail: '{{inviteeEmail}}',
            inviterId: '{{inviterId}}',
            teamId: '{{teamId}}',
            inviteToken: '{{inviteToken}}'
        }
        localStorage.setItem('invite_details', JSON.stringify(window.inviteDetails));
    </script> {% endif %}

    <!-- build:shared-css -->
    <!-- endbuild -->

    <!-- build:plain-css -->
    <!-- endbuild -->

</head>

<body>
    {% block content %}{% endblock %}
</body>

</html>