$plate-primary-color: #0066CC;
$plate-primary-dark-color: #0050A0;
$plate-primary-dark-color-lighter: #0153A5;
$plate-primary-light-color: #8FB0D2;
$font: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;


$red-color: #DB2828; // Semantic's colors
$orange-color: #F2711C;
$yellow-color: #FBBD08;
$green-color: #21BA45;
$blue-color: #2185D0;
$sideBarWidth: 240px;